<h2>Контакты</h2>
<form action="/contacts" method="POST">
  <div class="form-group">
    <label>Введите e-mail</label>
    <input name="user_email" type="email" class="form-control" placeholder="Введите e-mail">
  </div>
  <textarea name="user_text" class="form-control" rows="3"></textarea>
   <button type="submit" class="btn btn-primary">Отправить</button>
  </form>