<h2>Благодарим за Ваш выбор!</h2>
<p>Уважаемый(ая) <%=@username%>, мы будем вас ждать <%=@date_time%></p>

 <form action="/visit_result" method="POST">
 	<button type="submit" class="btn btn-primary">Сделать еще одну запись</button>
 </form>